:root {
    --color-primary-hue: 275;
    --color-primary-saturation: 100%;
    --color-primary-lightness: 25%;
    --color-primary-darker-hue: 24;
    --color-primary-darker-saturation: 100%;
    --color-primary-darker-lightness: 20%;
    --color-primary-dark-hue: 23;
    --color-primary-dark-saturation: 100%;
    --color-primary-dark-lightness: 15%;
}

.sidebar__inner {
    background-color: orange;
}
.sidebar-menu-item__link {
    background-color: black;
}

.tab-content {
    background-color: #e4e4e4;
}