{% extends "wagtailadmin/base.html" %}
{% block titletag %}{{ church_name }} Ministries{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <style>
        table.month {
            margin: 20px;
        }
        table.month td, table.month th {
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Ministries" icon="expand-right" %}

    <div class="nice-padding">
       <h1>Testing</h1>>
    </div>
{% endblock %}